button {
    padding: 12px 32px;
    border-radius: 999px;
    border: none;
    font-family: var(--font-primary);
    font-size: 16px;
    cursor: pointer;
    background-color: var(--button-color, #45AC7F);
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

button:disabled {
    cursor: not-allowed;
    background-color: #676767;
    color: black;
}

button.ghost {
    background-color: transparent;
    color: white;
}

button.back-button {
    margin: 0;
    padding: 4px 0;
    align-self: flex-start;
}