.card {
    background-color: #2D2D2D;
    border-radius: 16px;
    padding: 24px;
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card--full {
    max-width: 100%;
    align-items: center;
    gap: 8px;
}

.summarycard {
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summarycard--full {
    max-width: 100%;
    align-items: center;
    gap: 8px;
}