.form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
  }

input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: var(--font-primary);
    font-size: 14px;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 8px;
}

.error-message {
    width: 100%;
    padding: 10px 16px;
    border-radius: 10px;
    background-color: #FDDEDE;
    color: #C0392B;
    font-family: var(--font-primary);
    font-size: 14px;
    box-sizing: border-box;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}