:root {
    --font-primary: 'Figtree', sans-serif;
}

.h1 {
    font-family: var(--font-primary);
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
}

.h2 {
    font-family: var(--font-primary);
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.h2Result {
    font-family: var(--font-primary);
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
}

.h3 {
    font-family: var(--font-primary);
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

.h3Left {
    font-family: var(--font-primary);
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: left;
}

.paragraph {
    font-family: var(--font-primary);
    color: white;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.input-label {
    font-family: var(--font-primary);
    color: white;
    font-weight: 300;
    font-size: 1rem;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}

.label {
    font-family: var(--font-primary);
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
}

.result-label {
    font-family: var(--font-primary);
    color: white;
    font-weight: 300;
    font-size: 1rem;
    text-align: left;
}